</head>
<body>
  <nav>
   <a id="logo" href="/" target="_self"><i class="fa-solid fa-plane-departure fa-xl"></i></a>
    <a 
      href="/flights/new" class="<%=title === "Add Flight" ? "active" : "" %> destination"
    >
      ADD FLIGHT
    </a>
    <a 
      href="/meals/new" class="<%=title === "Add Meal" ? "active" : "" %> destination"
    >
      ADD MEAL
    </a>
    <a 
      href="/flights" class="<%=title === "All Flights" ? "active" : "" %> destination"
    >
      ALL FLIGHTS
    </a>
  </nav>