<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/forms.css">

<%- include('../partials/nav') %>

<main>
  <h1>Viewing information for flight: <%= flight.flightNo %></h1>
</main>

<%- include('../partials/footer') %>